<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/phaser.min.js"></script>
<script src="/js/quarters.js"></script>
<script src="/js/solo.js"></script>
<script src="/js/gameMain.js"></script>