<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <h1>testing 1 2 3...</h1>
    <p><%= new Date(); %></p>
    <h2>Another header</h2>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function(){
        var socket = io.connect();
        $("h1").click(function(){
            socket.emit("click", {clicked: "h1"});
        });
        $("p").click(function(){
            socket.emit("click", {clicked: "p"});
        });
        $("h2").click(function(){
            socket.emit("click", {clicked: "h2"});
        });
    });
</script>