<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <h1>Login</h1>
    <div id="logout"><% if (loggedIn && loggedIn !== "loggedOut") {
        %>Logged In <% 
    } else { 
        %>Logged Out <% 
    } %>
    <a href="#">Log out</a></p></div>
    <form id="login">
    <ul id="loginMessages"></ul>
    Email: <input name="email" id="loginEmail"><br>
    Password: <input type="password" name="password" id="loginPassword"><br>
    <input type="hidden" name="token" id="loginToken" value="<%= loginToken %>">
    <input type="submit" value="Log In">
    </form>
    <form id="register">
    <ul id="registerMessages"></ul>
    Email: <input name="email" id="registerEmail"><br>
    Username: <input name="username" id="registerUsername"><br>
    Password: <input type="password" name="password" id="registerPassword"><br>
    Verify Password: <input type="password" name="verify" id="registerVerify"><br>
    <input type="hidden" name="token" id="registerToken" value="<%= registerToken %>">
    <input type="submit" value="Register">
    </form>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/loginIO.js"></script>
<script src="/js/logout.js"></script>
